@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding:0;
    margin:0;
    font-family: 'Poppins', sans-serif, serif;
    font-weight: normal;
    border:transparent;
}

:root {
    --clr-default: #14142f;
    --clr-orange: #ff5900;
}

body {
    padding:1rem;
    background-color: #f0f0f0;
    color: var(--clr-default);
    font-smooth: always;
}

.title-lg {
    font-family: 'M PLUS 1p', sans-serif ,serif;
    font-size: 2.5rem;
    font-weight: 900;
    color:var(--clr-default);
}

.ts {
    margin-top: 2.25rem;
}

.orange {color:var(--clr-orange)}

.category-box {
    overflow-x: scroll;
    width: 100vw;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}

.category-item {

    background-color: transparent;
    border:transparent;
    padding:1rem;
    border-radius: .5rem;

    font-size: 1.4rem;

    cursor: pointer;
}

.category-image {
    width: 6rem;
    height: 6rem;
    border-radius: 0.5rem;
    box-shadow: 0 5px 10px #0005;

    aspect-ratio: 1/1;
}

.category-title {
    font-weight: 700;
}

.menu-item {
    margin-top: .75rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 100%;

    background-color: white;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 5px 5px #0005;

    cursor: pointer;
}

.menu-item > .info {
    text-align: left;
}

.menu-item > .info > h3 {
    font-size: 1.35rem;
    font-weight: 900;
    font-family: 'M PLUS 1p', sans-serif, serif;
}

.menu-item > .info > p {
    font-size: 1.15rem;
    color: #555;
    font-weight: 500;
}

.menu-item > .info > .price {
    color: var(--clr-orange);
    font-weight: 700;
    margin-top: 0.75rem;
    font-size: 1.25rem;

}